
.container{
    width: 50%;
    margin: 0 auto;
}

.joke-container{
    background-color: lightgray;
    border-radius: 10px;
}

.liked-joke-container{
    margin-top: 20px;
    box-shadow: 0 0 6px 0 black;
    border-radius: 10px;
}

.jokes{
    margin: 50px auto;
}

.joke-inner{
    padding: 10px;
}

.joke-text{
    margin: 25px;
}

.joke-category{
    border: 1px solid darkgreen;
    border-radius: 3px;
}

.liked-jokes-box{
    margin-top: 100px;
    padding: 20px;
}

.menu, .categories, .search{
    margin: 30px auto;
}

#button{
    width: 25px;
    height: 25px;
    border: 1px solid grey;
    cursor: pointer;
}

input{
    margin: 10px;
}

