@mixin menu-font{
  font-weight: normal;
  font-size: 18px;
}

@mixin button-reset {
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

@mixin input-reset {
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

@mixin h1-font{
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
}

@mixin h2-font{
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
}

@mixin h3-font{
  font-weight: 500;
  font-size: 24px;
  line-height: 44px;
}

html {
  -ms-overflow-style: none;  /* IE 10+ */
  scrollbar-width: none; /* Firefox */
  ::-webkit-scrollbar { /* chrome based */
    width: 0px;
    background: transparent;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, serif;
  font-style: normal;
  color: #333333;
}

a{
  color: #8EA7FF;
}

h1{
  @include h1-font;
}

h2{
  @include h2-font;
}

h3{
  @include h3-font;
}

.wrapper{
  display: flex;
  width: 100%;
}

.bg-shadow{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: black;
  opacity: 0.3;
  z-index: 2;
}

main{
  width: 75%;
  position: relative;
  height: 100vh;

  @media (max-width: 768px) {
    width: 100%;
  }
  overflow: scroll;
}

.container{
  display: block;
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
  padding: 0 20px 20px;

  h1{
    margin-top: 78px;
  }
}

.header{
  width: 100%;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//BURGER
.burger{
  display: none;
  position: relative;
  z-index: 10;
  margin-right: 112px;

  @media (max-width: 768px) {
    display: inline-block;
    width: 28px;
    height: 28px;
    background-color: #000;
    border-radius: 50%;
    cursor: pointer;
  }

  span::before, span::after{
    content: '';
    display: block;
    transition: 0.2s;
    position: absolute;
    top: 50%; margin-top: -1px;
    left: 50%; margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #fff;
  }

  span::before {
    transform: translateY(-5px);
  }

  span::after {
    transform: translateY(5px);
  }
}

.burger::after{
  content: 'Favourite';
  display: block;
  width: 84px;
  margin-left: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #ABABAB;
}

.burger-active{
  span::before{
    transform: rotate(45deg);
  }

  span::after{
    transform: rotate(-45deg);
  }
}
//END BURGER


//INPUTS
.menu{
  margin-top: 43px;
}

.menu-input-item{
  input[type="radio"] {
    display: none;
  }

  margin-bottom: 10px;

  label {
    height: 26px;
    @include menu-font;
    display: flex;
    position: relative;
    cursor: pointer;
  }

  label::before {
    box-sizing: border-box;
    margin-right: 15px;
    content: '';
    display: inline-block;
    padding: 3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #333333;
  }

  label::after{
    position: absolute;
    top: 5px;
    left: 5px;
    content: '';
    display: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

  input[type="radio"]:checked + label::after {
    display: inline-block;
    background: #333333;;
  }

  input[type="radio"]:checked ~ div{
    display: flex;
  }
}

.categories-box {
  display: none;
  flex-wrap: wrap;
  margin: 20px auto;

  input[type="radio"] {
    display: none;
  }

  label {
    font-weight: 500;
    font-size: 12px;

    letter-spacing: 2px;
    text-transform: uppercase;

    color: #ABABAB;
    display: inline-block;

    border-radius: 6px;
    height: 28px;
    padding: 6px 15px;
    margin-top: 5px;
    margin-right: 10px;
    cursor: pointer;
    border: 2px solid #F8F8F8;
  }

  input[type="radio"]:checked + label{
    display: inline-block;
    color: #333333;
    background-color: #F8F8F8;
  }

  label:before,label:after, input[type="radio"]:checked + label::after{
    display: none;
  }
}

.search-wrapper{
  display: none;
  margin: 20px auto;
}

.search-input{
  @include input-reset;
  width: 100%;
  height: 42px;
  padding: 10px 15px;
  border: 2px solid #333333;
  border-radius: 10px;

  :invalid{
    border: 2px solid #ff0000;
  }
}

.btn{
  @include button-reset;
  height: 42px;
  padding: 10px 40px;
  border-radius: 10px;
  background: linear-gradient(92.01deg, #8EA7FF 0%, #7291FF 100%);
  color: #fff;
}
//END INPUTS

.found-jokes-box{
  margin: 50px auto;
}

//FAV SECTION
.favourite-section{
  background: #F8F8F8;
  width: 25%;
  min-width: 480px;

  .fav-lbl{
    margin-left: 40px;
    margin-top: 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 44px;

    @media (max-width: 768px) {
      display: none;
    }
  }

  @media (max-width: 768px) {
    min-width: 0;
    width: 480px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 3;
    display: none;
  }

  @media (max-width: 480px) {
    width: 100%;
  }
}

.favourite-inner{
  padding: 20px;
  height: calc(100vh - 84px);

  @media (max-width: 768px) {
    width: 100%;
    margin-top: 84px;
  }

  overflow: scroll;
  z-index: 4;
  :first-child{
    margin-top: 0;
  }
}
//END FAV SECTION

.shown{
  display: block;
}

.hidden{
  @media (max-width: 374px) {
    display: none;
  }
}

.grey-text{
  color: #ABABAB;
}